body, .container {
    display: flex;
}

body, .container.main {
    flex-direction: column;
    margin-bottom: 140px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    flex: 1;
}

.container.sketch {
    margin-top: 27px;
    height: 400px;
    width: 600px;
    border: 5px solid rgb(44, 3, 70);
    flex-wrap: wrap;
}